﻿@model MGCERP.Common.ViewModel.MainMenuModel
@{
    Layout = null;
}
<ul class="nav navbar-nav">
    @foreach (var mnu in Model.menuModel)
    {

        if (mnu.MenuName == "LogOut")
        {
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-power-off"></i> @mnu.MenuName</a>
            </li>
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()

            }
        }
        else
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-dashboard fa-fw"></i>@mnu.MenuName <i class="fa fa-caret-down"></i></a>

                <ul class="dropdown-menu">
                    @foreach (var sbmenu in Model.submenulist)
                    {
                        if (mnu.Id == sbmenu.MenuOrder && sbmenu.ParentId == sbmenu.MenuOrder)
                        {
                            <li class="dropdown dropdown-submenu">
                                <a href="" class="dropdown-toggle test" data-toggle="dropdown">@sbmenu.MenuName</a>
                                <ul class="dropdown-menu">
                                    @foreach (var ssbmenu in Model.Sublist)
                                    {
                                        if (ssbmenu.ParentId == sbmenu.Id)
                                        {
                                            <li class="kopie"><a href="">@ssbmenu.MenuName</a></li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                    }
                </ul>

            </li>
        }


    }

    @*<li>
            <a href="page-inbox.html"><i class="fa fa-envelope-o"></i> Inbox <span class="badge red-bg">32</span></a>
        </li>*@
    @*<li>
            <a href="index.html"><i class="fa fa-reply"></i> Back to Main Page</a>
        </li>*@
    @*<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="assets/img/user-avatar.png" alt="User Avatar" />
                <span class="name">Stacy Rose</span> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="#">
                        <i class="fa fa-user"></i>
                        <span class="text">Profile</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-cog"></i>
                        <span class="text">Settings</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-power-off"></i>
                        <span class="text">Logout</span>
                    </a>
                </li>
            </ul>
        </li>*@
</ul>




