﻿<!DOCTYPE html>
<html>

<head>
    <title>MGCERP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="KingAdmin - Bootstrap Admin Dashboard Theme">
    <meta name="author" content="The Develovers">
    <!-- CSS -->
    <link href="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/css/main.css" rel="stylesheet" />
    <link href="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/css/my-custom-styles.css" rel="stylesheet" /> 
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg">
    <link rel="shortcut icon" href="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg">
</head>
<body class="sidebar-fixed topnav-fixed ">
   
    <div id="wrapper" class="wrapper">  
        
        <div class="top-bar navbar-fixed-top">
            <div class="container">
                <div class="clearfix">
                    <a href="#" class="pull-left toggle-sidebar-collapse"><i class="fa fa-bars"></i></a>
                    <!-- logo -->
                    <div class="pull-left left logo">
                        <a href="#"><img src="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg" alt="M-Box - Admin Dashboard" /></a>
                        <h1 class="sr-only">M-Box</h1>
                    </div>
                    <!-- end logo -->
                    <div class="pull-right right">
                        <!-- search box -->
                        <div class="searchbox">
                            <div id="tour-searchbox" class="input-group">
                                <input type="search" class="form-control" placeholder="enter keyword here...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                        <!-- end search box -->
                        <!-- top-bar-right -->
                        <div class="top-bar-right">
                            <button type="button" id="start-tour" class="btn btn-link"><i class="fa fa-refresh"></i> Start Tour</button>
                            <button type="button" id="global-volume" class="btn btn-link btn-global-volume"><i class="fa"></i></button>
                            <div class="notifications">
                                <ul>
                                    <!-- notification: inbox -->
                                    <li class="notification-item inbox">
                                        <div class="btn-group">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-envelope"></i><span class="count">2</span>
                                                <span class="circle"></span>
                                            </a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li class="notification-header">
                                                    <em>You have 2 unread messages</em>
                                                </li>
                                                <li class="inbox-item clearfix">
                                                    <a href="#">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <img class="media-object" src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/img/user1.png" alt="Antonio">
                                                            </div>
                                                            <div class="media-body">
                                                                <h5 class="media-heading name">Antonius</h5>
                                                                <p class="text">The problem just happened this morning. I can't see ...</p>
                                                                <span class="timestamp">4 minutes ago</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="inbox-item unread clearfix">
                                                    <a href="#">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <img class="media-object" src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/img/user2.png" alt="Antonio">
                                                            </div>
                                                            <div class="media-body">
                                                                <h5 class="media-heading name">Michael</h5>
                                                                <p class="text">Hey dude, cool theme!</p>
                                                                <span class="timestamp">2 hours ago</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="inbox-item unread clearfix">
                                                    <a href="#">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <img class="media-object" src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/img/user3.png" alt="Antonio">
                                                            </div>
                                                            <div class="media-body">
                                                                <h5 class="media-heading name">Stella</h5>
                                                                <p class="text">Ok now I can see the status for each item. Thanks! :D</p>
                                                                <span class="timestamp">Oct 6</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="inbox-item clearfix">
                                                    <a href="#">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <img class="media-object" src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/img/user4.png" alt="Antonio">
                                                            </div>
                                                            <div class="media-body">
                                                                <h5 class="media-heading name">Jane Doe</h5>
                                                                <p class="text"><i class="fa fa-reply"></i> Please check the status of your ...</p>
                                                                <span class="timestamp">Oct 2</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="inbox-item clearfix">
                                                    <a href="#">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <img class="media-object" src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/img/user5.png" alt="Antonio">
                                                            </div>
                                                            <div class="media-body">
                                                                <h5 class="media-heading name">John Simmons</h5>
                                                                <p class="text"><i class="fa fa-reply"></i> I've fixed the problem :)</p>
                                                                <span class="timestamp">Sep 12</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="notification-footer">
                                                    <a href="#">View All Messages</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <!-- end notification: inbox -->
                                    <!-- notification: general -->
                                    <li class="notification-item general">
                                        <div class="btn-group">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-bell"></i><span class="count">8</span>
                                                <span class="circle"></span>
                                            </a>
                                        </div>
                                    </li>
                                    <!-- end notification: general -->
                                </ul>
                            </div>
                            <!-- logged user and the menu -->
                            @using Microsoft.AspNet.Identity
                            <div class="logged-user">
                                <div class="btn-group">
                                    <a href="#" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                        @*<img src="assets/img/user-avatar.png" alt="User Avatar" />*@
                                        <span class="name">@User.Identity.GetUserName()</span> <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        @*<li>
                                            <a href="#">
                                                <i class="fa fa-user"></i>
                                                <span class="text">Profile</span>
                                            </a>
                                        </li>*@
                                        <li>
                                            <a href="../Manage/ChangePassword">
                                                <i class="fa fa-cog"></i>
                                                <span class="text">Reset Password</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-cog"></i>
                                                <span class="text">Settings</span>
                                            </a>
                                        </li>
                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            @Html.AntiForgeryToken()
                                        }
                                        <li>
                                            <a href="/Account/Logoff"><i class="fa fa-power-off"></i> Log Out</a>
                                        </li>
                                        @*<a href="#">
                                            <i class="fa fa-power-off"></i>
                                            <span class="text">Logout</span>
                                        </a>*@

                                    </ul>
                                </div>
                            </div>
                            <!-- end logged user and the menu -->
                        </div>
                        <!-- end top-bar-right -->
                    </div>
                </div>
            </div>
            <!-- /container -->
        </div>
        @*<div id="main-content-wrapper" class="content-wrapper ">
            <!-- top general alert -->
            <!-- end top general alert -->
            <!-- main -->
            <div class="content">
                <div class="main-header">
                </div>
                <div class="main-content">
                    <div class="widget widget-table">
                        <div class="widget-content">
                        </div>
                    </div>
                </div>



            </div>
            <div class="row">
                @RenderBody()
            </div>

        </div>*@
    </div>
    <div id="left-sidebar" class="left-sidebar ">
        <!-- main-nav -->
        <div class="sidebar-scroll">
            <nav class="main-nav">
                <ul class="main-menu">
                    <li onclick="order();">
                        <a href="Admin/Order/Company" class="js-sub-menu-toggle">
                            <span style="opacity: 1;">Order</span>
                            <i class="toggle-icon fa fa-angle-left"></i>
                        </a>

                    </li>
                    <li onclick="companyorder();">
                        <a href="CompanyOrder" class="js-sub-menu-toggle" target="_blank">
                            <span style="opacity: 1;">Factory</span>
                            <i class="toggle-icon fa fa-angle-left"></i>
                        </a>
                        
                    </li>
                   
                </ul>
            </nav>
            <!-- /main-nav -->
        </div>
    </div>
    <div id="main-content-wrapper" class="content-wrapper">
      

        <div class="row">
            @RenderBody()
        </div>

        <!-- main -->
        <!-- /main -->
        <!-- FOOTER -->
        <!-- END FOOTER -->
    </div>
    <script>
        function order() {            
            window.location.href = '/Admin/Order/Company';
        }
        function companyorder()
        {         
            window.location.href = '/Admin/Order/CompanyOrder'; 
        }
    </script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/jquery/jquery-2.1.0.min.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/bootstrap/bootstrap.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/modernizr/modernizr.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/bootstrap-tour/bootstrap-tour.custom.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/king-common.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/datatable/jquery.dataTables.min.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/datatable/exts/dataTables.colVis.bootstrap.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/datatable/exts/dataTables.colReorder.min.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/datatable/exts/dataTables.tableTools.min.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/datatable/dataTables.bootstrap.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/jqgrid/i18n/grid.locale-en.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/jqgrid/jquery.jqGrid.fluid.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/king-table.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/king-components.js"></script>
</body>
</html>