﻿<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9" lang="en" class="no-js"> <![endif]-->
<!--[if !(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <title>MGCERP </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="MGCERP - Bootstrap Admin Dashboard Theme">
    <meta name="author" content="The Develovers">
    <!-- CSS -->
    <link href="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/css/main.css" rel="stylesheet" />
    <link href="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/css/my-custom-styles.css" rel="stylesheet" />
    @*<link href="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/css/skins/transparent.css" rel="stylesheet" type="text/css">*@

    <!--[if lte IE 9]>
        <link href="assets/css/main-ie.css" rel="stylesheet" type="text/css"/>
        <link href="assets/css/main-ie-part2.css" rel="stylesheet" type="text/css"/>
    <![endif
    <!-- Fav and touch icons -->


    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg">
    <link rel="shortcut icon" href="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg">    
    <style>        
        body.sidebar-fixed.topnav-fixed {
            overflow: hidden;
        }
        </style>
 
</head>
<body class="sidebar-fixed topnav-fixed ">
    <!-- WRAPPER -->
    
    <div id="wrapper" class="wrapper">
        <!-- TOP BAR -->
        <div class="top-bar navbar-fixed-top">
                                    <div class="container">
                <div class="clearfix">
                    <a href="#" class="pull-left toggle-sidebar-collapse"><i class="fa fa-bars"></i></a>
                    <!-- logo -->
                    <div class="pull-left left logo">
                        <a href="#"><img src="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg" alt="M-Box - Admin Dashboard" /></a>
                        <h1 class="sr-only">M-Box</h1>
                    </div>
                    <!-- end logo -->
                    <div class="pull-right right">
                        <!-- search box -->
                        <div class="searchbox">
                            <div id="tour-searchbox" class="input-group">
                                <input type="search" class="form-control" placeholder="enter keyword here...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                        <!-- end search box -->
                        <!-- top-bar-right -->
                        <div class="top-bar-right">
                            <button type="button" id="start-tour" class="btn btn-link"><i class="fa fa-refresh"></i> Start Tour</button>
                            <button type="button" id="global-volume" class="btn btn-link btn-global-volume"><i class="fa"></i></button>
                            <div class="notifications">
                                <ul>
                                    <!-- notification: inbox -->
                                    <li class="notification-item inbox">
                                        <div class="btn-group">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-envelope"></i><span class="count">2</span>
                                                <span class="circle"></span>
                                            </a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li class="notification-header">
                                                    <em>You have 2 unread messages</em>
                                                </li>
                                                <li class="inbox-item clearfix">
                                                    <a href="#">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <img class="media-object" src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/img/user1.png" alt="Antonio">
                                                            </div>
                                                            <div class="media-body">
                                                                <h5 class="media-heading name">Antonius</h5>
                                                                <p class="text">The problem just happened this morning. I can't see ...</p>
                                                                <span class="timestamp">4 minutes ago</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="inbox-item unread clearfix">
                                                    <a href="#">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <img class="media-object" src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/img/user2.png" alt="Antonio">
                                                            </div>
                                                            <div class="media-body">
                                                                <h5 class="media-heading name">Michael</h5>
                                                                <p class="text">Hey dude, cool theme!</p>
                                                                <span class="timestamp">2 hours ago</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="inbox-item unread clearfix">
                                                    <a href="#">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <img class="media-object" src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/img/user3.png" alt="Antonio">
                                                            </div>
                                                            <div class="media-body">
                                                                <h5 class="media-heading name">Stella</h5>
                                                                <p class="text">Ok now I can see the status for each item. Thanks! :D</p>
                                                                <span class="timestamp">Oct 6</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="inbox-item clearfix">
                                                    <a href="#">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <img class="media-object" src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/img/user4.png" alt="Antonio">
                                                            </div>
                                                            <div class="media-body">
                                                                <h5 class="media-heading name">Jane Doe</h5>
                                                                <p class="text"><i class="fa fa-reply"></i> Please check the status of your ...</p>
                                                                <span class="timestamp">Oct 2</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="inbox-item clearfix">
                                                    <a href="#">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <img class="media-object" src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/img/user5.png" alt="Antonio">
                                                            </div>
                                                            <div class="media-body">
                                                                <h5 class="media-heading name">John Simmons</h5>
                                                                <p class="text"><i class="fa fa-reply"></i> I've fixed the problem :)</p>
                                                                <span class="timestamp">Sep 12</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="notification-footer">
                                                    <a href="#">View All Messages</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <!-- end notification: inbox -->
                                    <!-- notification: general -->
                                    <li class="notification-item general">
                                        <div class="btn-group">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-bell"></i><span class="count">8</span>
                                                <span class="circle"></span>
                                            </a>                                       
                                        </div>
                                    </li>
                                    <!-- end notification: general -->
                                </ul>
                            </div>
                            <!-- logged user and the menu -->
                            @using Microsoft.AspNet.Identity
                            <div class="logged-user">
                                <div class="btn-group">
                                    <a href="#" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                        @*<img src="assets/img/user-avatar.png" alt="User Avatar" />*@
                                        <span class="name">@User.Identity.GetUserName()</span> <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        @*<li>
                                            <a href="#">
                                                <i class="fa fa-user"></i>
                                                <span class="text">Profile</span>
                                            </a>
                                        </li>*@
                                        <li>
                                            <a href="../Manage/ChangePassword">
                                                <i class="fa fa-cog"></i>
                                                <span class="text">Reset Password</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-cog"></i>
                                                <span class="text">Settings</span>
                                            </a>
                                        </li>
@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
{
    @Html.AntiForgeryToken()
}
                                        <li>
                                            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-power-off"></i> Log Out</a>
                                        </li>
                                            @*<a href="#">
                                                <i class="fa fa-power-off"></i>
                                                <span class="text">Logout</span>
                                            </a>*@
                                       
                                    </ul>
                                </div>
                            </div>
                            <!-- end logged user and the menu -->
                        </div>
                        <!-- end top-bar-right -->
                    </div>
                </div>
            </div>
            <!-- /container -->
        </div>
        <div id="left-sidebar" class="left-sidebar">
            <!-- main-nav -->
            <div class="sidebar-scroll">
                <nav class="main-nav">

                    @{Html.RenderAction("Menus", "Home");}
</nav>
           
        </div>
    </div>
    <!-- /container -->
  
    <!-- END TOP BAR -->
    <!-- MAIN CONTENT WRAPPER -->
    <div id="main-content-wrapper" class="content-wrapper expanded-full">
        <!-- top general alert -->
        @*<div class="alert alert-danger top-general-alert">
            <span>If you <strong>can't see the logo</strong> on the top left, please reset the style on right style switcher (for upgraded theme only).</span>
            <button type="button" class="close">&times;</button>
        </div>*@
        <!-- end top general alert -->

        <div class="row">
            @RenderBody()
    </div>

    <!-- main -->
    <!-- /main -->
    <!-- FOOTER -->
    <!-- END FOOTER -->
</div>
<footer class="footer" style="position:fixed;">
    &copy; 2017 The Develovers
</footer>
<!-- END CONTENT WRAPPER -->
</div>
    
<!-- END WRAPPER -->
<!-- Javascript -->
<script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/jquery/jquery-2.1.0.min.js"></script>

<script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/bootstrap/bootstrap.js"></script>

<script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/modernizr/modernizr.js"></script>

<script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/bootstrap-tour/bootstrap-tour.custom.js"></script>

<script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/king-common.js"></script>
<script>
    $('.test').on("click", function (e) {
        
        $(this).siblings('.submenu2').toggle();
        //e.stopPropagation();
        //e.preventDefault();
    });
    $(document).ready(function () {
       
    });
</script>



</body>
</html>

















@*<div class="collapse navbar-collapse" id="main-navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-dashboard fa-fw"></i>Main <i class="fa fa-caret-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown dropdown-submenu">
                                            <a href="#" class="dropdown-toggle test" data-toggle="dropdown">Home</a>
                                            <ul class="dropdown-menu">
                                                <li class="kopie"><a href="#">New Records</a></li>
                                                <li><a href="#">Send message</a></li>
                                                <li><a href="#">Personal Status</a></li>
                                                <li><a href="#">Message Status</a></li>
                                                <li><a href="#">Status</a></li>
                                                <li><a href="#">Company upload</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown dropdown-submenu">
                                            <a href="#" class="dropdown-toggle test" data-toggle="dropdown">Balance</a>
                                            <ul class="dropdown-menu">
                                                <li class="kopie"><a href="#">Open balance item</a></li>
                                                <li><a href="#">Open balance PO</a></li>
                                                <li><a href="#">Balance items due</a></li>
                                                <li><a href="#">Balance PO due</a></li>
                                                <li><a href="#">All items</a></li>
                                                <li><a href="#">All PO</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown dropdown-submenu">
                                            <a href="#" class="dropdown-toggle test" data-toggle="dropdown">Deliveries</a>
                                            <ul class="dropdown-menu">
                                                <li class="kopie"><a href="#">#Deliveries by Item</a></li>
                                                <li><a href="#">#Deliveries by ItemType</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="page-inbox.html"><i class=""></i>#Developement</a>
                                        </li>
                                        <li>
                                            <a href="page-inbox.html"><i class=""></i>#Prototypes</a>
                                        </li>
                                        <li class="dropdown dropdown-submenu">
                                            <a href="#" class="dropdown-toggle test" data-toggle="dropdown">#Prototypes</a>
                                            <ul class="dropdown-menu">
                                                <li class="kopie"><a href="#">Moulds</a></li>
                                                <li><a href="#">Mould System Data</a></li>
                                                <li><a href="#">Moulds in production</a></li>
                                                <li><a href="#">Moulds in storage</a></li>
                                                <li><a href="#">#Moulds in repair</a></li>
                                                <li><a href="#">Mould Remark</a></li>
                                                <li><a href="#">All mould configurations</a></li>
                                                <li><a href="#">Injection material</a></li>
                                                <li><a href="#">Masterbatch</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown dropdown-submenu">
                                            <a href="#" class="dropdown-toggle test" data-toggle="dropdown">Products</a>
                                            <ul class="dropdown-menu">
                                                <li class="kopie"><a href="#">Product Specifications</a></li>
                                                <li><a href="#">Assembly instructions</a></li>
                                                <li><a href="#">Part QC</a></li>
                                                <li><a href="#">Incoming QC</a></li>
                                                <li><a href="#">#All items</a></li>
                                                <li><a href="#">#Delivered items</a></li>
                                                <li><a href="#">Assembly Planning</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown dropdown-submenu">
                                            <a href="#" class="dropdown-toggle test" data-toggle="dropdown">PO</a>
                                            <ul class="dropdown-menu">
                                                <li class="kopie"><a href="#">Open PO Suppliers</a></li>
                                                <li><a href="#">New PO's</a></li>
                                                <li><a href="#">Open part orders</a></li>
                                                <li><a href="#">Open part order By PO</a></li>
                                                <li><a href="#">#Part deliveries</a></li>
                                                <li><a href="#">#Part QC instructions</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown dropdown-submenu">
                                            <a href="#" class="dropdown-toggle test" data-toggle="dropdown">Invoices</a>
                                            <ul class="dropdown-menu">
                                                <li class="kopie"><a href="#">#Paid invoices</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="page-inbox.html"><i class=""></i> Setting</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-navicon"></i> Accounting<i class="fa fa-caret-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="nav-default-fixed.html">#Customer</a></li>
                                        <li><a href="nav-normal.html">#Supplier</a></li>
                                        <li><a href="nav-default-fixed.html">#All accounts</a></li>
                                        <li><a href="nav-normal.html">#Banking</a></li>
                                        <li><a href="nav-normal.html">#List</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-dashboard fa-fw"></i>MBOX <i class="fa fa-caret-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown dropdown-submenu">
                                            <a href="#" class="dropdown-toggle test" data-toggle="dropdown">M-Box Monitor</a>
                                            <ul class="dropdown-menu">
                                                <li class="kopie"><a href="#">System data</a></li>
                                                <li><a href="#">M-Box settings</a></li>
                                                <li><a href="#">Box communications</a></li>
                                                <li><a href="#">System communications</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown dropdown-submenu">
                                            <a href="#" class="dropdown-toggle test" data-toggle="dropdown">Database maintenance</a>
                                            <ul class="dropdown-menu">
                                                <li class="kopie"><a href="#">Page Access</a></li>
                                                <li><a href="#">LanguageManagement</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown dropdown-submenu">
                                            <a href="#" class="dropdown-toggle test" data-toggle="dropdown">Old pages</a>
                                            <ul class="dropdown-menu">
                                                <li class="kopie"><a href="#">Welding</a></li>
                                                <li><a href="#">Current production moulding</a></li>
                                                <li><a href="#">Company settings & users</a></li>
                                                <li><a href="#">Production machines</a></li>
                                                <li><a href="#">Manual time tracking</a></li>
                                                <li><a href="#">Old notifications</a></li>
                                                <li><a href="#">EDM wire cut</a></li>
                                                <li><a href="#">Old moulding</a></li>
                                                <li><a href="#">System data old</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown dropdown-submenu">
                                            <a href="#" class="dropdown-toggle test" data-toggle="dropdown">Clients set-up</a>
                                            <ul class="dropdown-menu">
                                                <li class="kopie"><a href="#">Company set-up</a></li>
                                                <li><a href="#">Create M-box</a></li>
                                                <li><a href="#">Add-cards</a></li>
                                                <li><a href="#">MCompany-page-access</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="page-inbox.html"><i class=""></i>User data</a>
                                        </li>
                                        <li>
                                            <a href="page-inbox.html"><i class=""></i>Sales</a>
                                        </li>

                                        <li class="dropdown dropdown-submenu">
                                            <a href="#" class="dropdown-toggle test" data-toggle="dropdown">New pages</a>
                                            <ul class="dropdown-menu">
                                                <li class="kopie"><a href="#">#Moulds</a></li>
                                                <li><a href="#">Planning</a></li>
                                                <li><a href="#">#Production schedule</a></li>
                                                <li><a href="#">Part orders</a></li>
                                                <li><a href="#">#Materials</a></li>
                                                <li><a href="#">#Mould change schedule</a></li>
                                                <li><a href="#">Non scheduled orders</a></li>
                                                <li><a href="#">#Material planning</a></li>
                                                <li><a href="#">#Masterbatch</a></li>
                                                <li><a href="#">Staff on premises</a></li>
                                                <li><a href="#">Scheduled orders</a></li>
                                                <li><a href="#">Staff working hours</a></li>
                                                <li><a href="#">#Mould change schedule</a></li>
                                                <li><a href="#">#Material use</a></li>
                                                <li><a href="#">#Operator report</a></li>
                                                <li><a href="#">#Material planning</a></li>
                                                <li><a href="#">#Manual update shots</a></li>
                                                <li><a href="#">#New order</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-dashboard fa-fw"></i>System Box <i class="fa fa-caret-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown dropdown-submenu">
                                            <a href="#" class="dropdown-toggle test" data-toggle="dropdown">General</a>
                                            <ul class="dropdown-menu">
                                                <li class="kopie"><a href="#">Uptime</a></li>
                                                <li><a href="#">Electricity consumption</a></li>
                                                <li><a href="#">Notifications</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown dropdown-submenu">
                                            <a href="#" class="dropdown-toggle test" data-toggle="dropdown">Production</a>
                                            <ul class="dropdown-menu">
                                                <li class="kopie"><a href="#">Current production</a></li>
                                                <li><a href="#">Production history</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown dropdown-submenu">
                                            <a href="#" class="dropdown-toggle test" data-toggle="dropdown">Progress & estimation</a>
                                            <ul class="dropdown-menu">
                                                <li class="kopie"><a href="#">Progress</a></li>
                                                <li><a href="#">New production</a></li>
                                                <li><a href="#">Estimation</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown dropdown-submenu">
                                            <a href="#" class="dropdown-toggle test" data-toggle="dropdown">Settings</a>
                                            <ul class="dropdown-menu">
                                                <li class="kopie"><a href="#">User information</a></li>
                                                <li><a href="#">Personal filter</a></li>
                                                <li><a href="#">Personal notifications</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown dropdown-submenu">
                                            <a href="#" class="dropdown-toggle test" data-toggle="dropdown">Company & system data</a>
                                            <ul class="dropdown-menu">
                                                <li class="kopie"><a href="#">Location setting</a></li>
                                                <li><a href="#">InitialSetup</a></li>
                                                <li><a href="#">Internal hourly rate</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="Index"><i class="fa fa-reply"></i> Back to Main Page</a>
                                </li>

                                <li>
                                    <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-power-off"></i> Logout</a>
                                </li>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

                        }



                                @*<li>
                                        <a href="page-inbox.html"><i class="fa fa-envelope-o"></i> Inbox <span class="badge red-bg">32</span></a>
                                    </li>*@
@*<li>
        <a href="index.html"><i class="fa fa-reply"></i> Back to Main Page</a>
    </li>*@
@*<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="assets/img/user-avatar.png" alt="User Avatar" />
                        <span class="name">Stacy Rose</span> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">
                                <i class="fa fa-user"></i>
                                <span class="text">Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-cog"></i>
                                <span class="text">Settings</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-power-off"></i>
                                <span class="text">Logout</span>
                            </a>
                        </li>
                    </ul>
                </li>
        </ul>
    </div>*@

