﻿@model MGCERP.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security
  <style>
      .btn-auth-facebook:before {
          font-family: FontAwesome;
          font-size: 20px;
          content: "\f08c";
          display: block;
          position: absolute;
          top: -1px;
          left: -1px;
          padding: 7px 0;
          width: 40px;
          height: 40px;
          background-color: #2d4373;
      }
  </style>                                                                                                                
@*<h4>Use another service to log in.</h4>*@
@*<hr />*@
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>
                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {
                        @*if (p.AuthenticationType == "Facebook")
                        {   <div class="col-md-3">
                        <button type="submit" class="btn btn-info btn-block btn-facebook" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"><i class="fa fa-facebook"></i></button>
                          </div>
                        }
                        else if (p.AuthenticationType == "Google")
                        {
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-info btn-block btn-google" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"><i class="fa fa-google-plus"></i></button>
                            </div>
                        }
                        else if (p.AuthenticationType == "Twitter")
                        {
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-info btn-block btn-twitter" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"><i class="fa fa-twitter"></i></button>
                            </div>
                        }*@

                         if (p.AuthenticationType == "LinkedIn")
                        {
                           
                                <button type="submit" class="btn btn-auth-facebook" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType"><span>Login via @p.Caption </span></button>
                                @*<button type="submit" class="btn btn-info btn-block btn-linkedin" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"><i class="fa fa-linkedin"></i></button>*@
                          
                        }




                        @*<i class="fa fa-yahoo" aria-hidden="true"></i>*@
                    else
                    {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                        }
                    }
                </p>
            </div>
        }
    }
}