﻿@model MGCERP.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="body-full-height">
<head>
    <title>Login | M-Box - Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="description" content="KingAdmin Dashboard">
    <meta name="author" content="The Develovers">
    <!-- CSS -->
    <link href="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/css/main.css" rel="stylesheet" />
    @*<link href="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/css/skins/transparent.css" rel="stylesheet" type="text/css">*@
    <!--[if lte IE 9]>
        <link href="assets/css/main-ie.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/main-ie-part2.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!-- Fav and touch icons -->

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg">
    <link rel="shortcut icon" href="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg">
</head>
<body>
    <div class="wrapper full-page-wrapper page-auth page-register text-center">
        <div class="inner-page">
            <div class="logo">
                <a href="https://www.monitor-box.com"><img src="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg" alt="" /></a>
            </div>
            <div class="register-box center-block">

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Enter your email.</h4>                    
                            if (!String.IsNullOrEmpty(ViewBag.Message))
                            {                                
                                        <p class="text-danger">@ViewBag.Message</p>                                
                            }
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                    <button class="btn btn-custom-primary btn-lg btn-block btn-auth" type="submit"><i class="fa fa-check-circle"></i>Email Link</button>
                    @*<div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Email Link" />
                        </div>
                    </div>*@
                }
                
            </div>

        </div>
    </div>
    <div>
        <a href="https://www.monitor-box.com"><footer class="footer">&copy; www.monitor-box.com </footer></a>

    </div>
</body>
</html>