﻿
@{
    ViewBag.Title = "LocationSettings";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@*<div class="row">
        <!-- Breadcrumb -->
        <div class=col-lg-12>
            <ul class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="#">Company Data</a></li>
                <li class="active">Location Settings</li>
            </ul>
        </div>
        <!-- Location Dropdown All information on the pages below should relate to the selected loaction -->
        <div class="form-group form-h col-lg-12">
            <h3 for="ticket-name" class="col-lg-3 control-label">Settings for Location:</h3>
            <select class="form-control col-lg-9">
                <option value="Location 1">Location 1</option>
                <option value="Location 2">Location 2</option>
                <option value="Location 3">Location 3</option>
                <option value="Location 4">Location 4</option>
            </select>
        </div>
    </div>*@
<!-- Tab Menu -->
<div class="row">
    <ul class="nav nav-tabs nav-tabs-right">
        <li class="active">
            @*Set General Calander*@
            <a href="#tabitem1" data-toggle="tab">Create Order</a>
        </li>
        <li>
            <!-- Set working times per department -->
            <a href="#tabitem2" data-toggle="tab">Factory Set Up</a>
        </li>
        <li>
            <!-- Enter Holidays -->
            <a href="#tabitem3" data-toggle="tab">New Equipment</a>
        </li>
        @*<li>
            <!-- Number on badge is the amount of item "Reported"-->
            <a href="#tabitem4" data-toggle="tab">Notification Settings</a>
        </li>*@
    </ul>
</div>
<!-- Tab Content -->
<div class="row">
    <div class="tab-content">
        @*TAB1: Set General Location Options*@

    </div>
</div>
<div class="row">
    <div class="tab-content">
        <div class="tab-pane fade in col-md-12" id="tabitem1">
            <!-- Smart Card Settings -->

            <div class="widget">
                <div class="widget-header">
                    <h3>Create Order</h3>
                </div>
                <div class="widget-content">
                    <table class="table table-responsive table-hover">
                        <thead>
                            <tr>
                                <th>Company</th>
                                <th>Location</th>
                                <th>New Equipment QTY</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>TestCompany</td>
                                <td><a href="#" id="locationname" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter your location name" class="editable editable-click">Location 1</a></td>
                                @*<td>location 1</td>*@
                                <td>40</td>
                            </tr>
                            <tr>
                                <td>TestCompany 2</td>
                                <td><a href="#" id="locationname" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter your location name" class="editable editable-click">Location 1</a></td>
                                @*<td>location 1</td>*@
                                <td>25</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>



            <!-- Notification Settings -->

            <div class="widget">
                <div class="widget-header">
                    <h3>Create order</h3>                 
                </div>
                @*<button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-info">Create Order</button>*@
                <div class="widget-content">
                    <table class="table table-responsive table-hover">
                        <thead>
                            <tr>
                                @*<th><input type="checkbox" /> Enabled</th>*@
                                <th>Action</th>
                                <th><input type="checkbox" />Select All</th>
                                <th>Edit Equipment</th>
                                <th>Equipment M-Box number</th>
                                <th>Equipment type</th>
                                <th>Production Type</th>
                                <th>Individual elctricity meter</th>
                                <th>Order Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="#" id="clearorder" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter your last name" class="editable editable-click">Clear order</a></td>
                                @*<td>Clear order</td>*@
                                <td><input type="checkbox" checked="checked" /></td>
                                <td><a href="#" id="companyName" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter your last name" class="editable editable-click">Equipment</a></td>
                                @*<td>Equipment</td>*@
                                <td></td>
                                <td>4/16/2017</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><a href="#" id="clearorder" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter your last name" class="editable editable-click">Clear order</a></td>
                                <td><input type="checkbox" checked="checked" /></td>
                                <td><a href="#" id="companyName" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter your last name" class="editable editable-click">Equipment</a></td>
                                <td></td>
                                <td>4/16/2017</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><a href="#" id="clearorder" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter your last name" class="editable editable-click">Clear order</a></td>
                                <td><input type="checkbox" checked="checked" /></td>
                                <td><a href="#" id="companyName" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter your last name" class="editable editable-click">Equipment</a></td>
                                <td></td>
                                <td>4/16/2017</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><a href="#" id="clearorder" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter your last name" class="editable editable-click">Clear order</a></td>
                                <td><input type="checkbox" checked="checked" /></td>
                                <td><a href="#" id="companyName" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter your last name" class="editable editable-click">Equipment</a></td>
                                <td></td>
                                <td>4/16/2017</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><a href="#" id="clearorder" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter your last name" class="editable editable-click">Clear order</a></td>
                                <td><input type="checkbox" checked="checked" /></td>
                                <td><a href="#" id="companyName" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter your last name" class="editable editable-click">Equipment</a></td>
                                <td></td>
                                <td>4/16/2017</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>



            @*/////////////////////////////////////////////////////////////////////////*@
            <div class="widget">
                <div class="widget-header">
                    <h3>Confirm Order</h3>
                </div>
                <div class="widget-content">
                    <table class="table table-responsive table-hover">
                        <thead>
                            <tr>
                                <th>Company</th>
                                <th>Location</th>
                                <th>QTY</th>
                                <th>Order number</th>
                                <th>Confirm</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>TestCompany</td>
                                <td>location 1</td>
                                <td>40</td>
                                <td></td>
                                <td><button class="form-control btn btn-default btn-sm">Confirm</button></td>
                            </tr>
                            <tr>
                                <td>TestCompany</td>
                                <td>location 1</td>
                                <td>40</td>
                                <td></td>
                                <td><button class="form-control btn btn-default btn-sm">Confirm</button></td>
                            </tr>
                            <tr>
                                <td>TestCompany</td>
                                <td>location 1</td>
                                <td>40</td>
                                <td></td>
                                <td><button class="form-control btn btn-default btn-sm">Confirm</button></td>
                            </tr>



                        </tbody>
                    </table>
                </div>
            </div>


            @*/////////////////////////////////////////////////////////////////////////*@
            <button data-toggle="modal" data-target="#squarespaceModal1" class="btn btn-info">Confirm Order</button>
            <div class="widget">
                <div class="widget-header">
                    <h3>New orders  not processed</h3>
                </div>
                <div class="widget-content">
                    <table class="table table-responsive table-hover">
                        <thead>
                            <tr>
                                <th>Company</th>
                                <th>Location</th>
                                <th>QTY</th>
                                <th>Order number</th>
                                <th>Confirmed by</th>
                                <th>Confirmed On</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>TestCompany</td>
                                <td><a href="#" data-toggle="modal" data-target="#squarespaceModal1"> Location 1</a></td>
                                <td>40</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>TestCompany</td>
                                <td><a href="#" data-toggle="modal" data-target="#squarespaceModal1"> Location 1</a></td>
                                <td>40</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>TestCompany</td>
                                <td><a href="#" data-toggle="modal" data-target="#squarespaceModal1"> Location 1</a></td>
                                <td>40</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>TestCompany</td>
                                <td><a href="#" data-toggle="modal" data-target="#squarespaceModal1"> Location 1</a></td>
                                <td>40</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade in col-md-12" id="tabitem2">
            <div class="widget">
                <div class="widget-header">
                    <h3>Confirmed orders</h3>
                </div>
                <div class="widget-content">
                    <table class="table table-responsive table-hover">
                        <thead>
                            <tr>
                                <th>Company</th>
                                <th>Location</th>
                                <th>QTY</th>
                                <th>Order number</th>
                                <th>On order</th>
                                <th>Confirmed by</th>
                                <th>Confirmed On</th>
                                <th>Created by</th>
                                <th>Created on</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>TestCompany</td>
                                <td><a href="#" id="locationname" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter your location name" class="editable editable-click">Location 1</a></td>
                                <td>40</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>TestCompany</td>
                                <td><a href="#" id="locationname" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter your location name" class="editable editable-click">Location 1</a></td>
                                <td>25</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                               
                            </tr>
                            <tr>
                                <td>TestCompany</td>
                                <td><a href="#" id="locationname" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter your location name" class="editable editable-click">Location 1</a></td>
                                <td>25</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              
                            </tr>
                            <tr>
                                <td>TestCompany</td>
                                <td><a href="#" id="locationname" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter your location name" class="editable editable-click">Location 1</a></td>
                                <td>40</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <button data-toggle="modal" data-target="#squarespaceModal3" class="btn btn-info">Order PC & master</button>
            <div class="widget">
                <div class="widget-header">
                    <h3>Confirmed order (by equipment type)</h3>
                </div>
                <div class="widget-content">
                    <table class="table table-responsive table-hover">
                        <thead>
                            <tr>
                                <th>Equipment Type</th>
                                <th>Production type</th>
                                <th>Individual elctricity meter</th>
                                <th>QTY</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>QTY</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            @*<div class="widget">
                <div class="widget-header">
                    <h3>New orders  not processed</h3>
                </div>
                <div class="widget-content">
                    <table class="table table-responsive table-hover">
                        <thead>
                            <tr>
                                <th>Company</th>
                                <th>Location</th>
                                <th>QTY</th>
                                <th>Order number</th>
                                <th>On order</th>
                                <th>Confirmed by</th>
                                <th>Confirmed On</th>
                                <th>Created by</th>
                                <th>Created on</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>TestCompany</td>
                                <td><a href="#" id="locationname" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter your location name" class="editable editable-click">Location 1</a></td>
                                <td>40</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>TestCompany</td>
                                <td><a href="#" id="locationname" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter your location name" class="editable editable-click">Location 1</a></td>
                                <td>25</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                            <tr>
                                <td>TestCompany</td>
                                <td><a href="#" id="locationname" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter your location name" class="editable editable-click">Location 1</a></td>
                                <td>25</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                            <tr>
                                <td>TestCompany</td>
                                <td><a href="#" id="locationname" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter your location name" class="editable editable-click">Location 1</a></td>
                                <td>40</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>*@
            <div class="widget">
                <div class="widget-header">
                    <h3>Existing PC's and masters</h3>
                </div>
                <div class="widget-content">
                    <table class="table table-responsive table-hover">
                        <thead>
                            <tr>
                                <th>PC#</th>
                                <th>To be created</th>
                                <th>Master#</th>
                                <th>To be created</th>
                                <th>QTY Junction boxes</th>
                                <th>QTY M-Boxes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        
        @*<div class="widget">
            <div class="widget-header">
                <h3>Existing PC's and masters</h3>
            </div>
            <div class="widget-content">
                <table class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <th>PC#</th>
                            <th>To be created</th>
                            <th>Master#</th>
                            <th>To be created</th>
                            <th>QTY Junction boxes</th>
                            <th>QTY M-Boxes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>*@
            <button data-toggle="modal" data-target="#squarespaceModal4" class="btn btn-info">Order junctionbox</button>
        <div class="widget">
            <div class="widget-header">
                <h3>Exisiting Junction boxes</h3>
            </div>
            <div class="widget-content">
                <table class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <th>Master</th>
                            <th>To be created</th>
                            <th>Junctionbox#</th>
                            <th>To be created</th>
                            <th>QTY M-Boxes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        <div class="tab-pane fade in col-md-12" id="tabitem3">
            <div class="widget">
                <div class="widget-header">
                    <h3>New orders  not processed</h3>
                </div>
                <div class="widget-content">
                    <table class="table table-responsive table-hover">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Edit Equipment / Allocation</th>
                                <th>Equipment M-Box number</th>
                                <th>Equipment type</th>
                                <th>Production Type</th>
                                <th>Individual elctricity meter</th>
                                <th>Master</th>
                                <th>Junctionbox</th>
                                <th>Distance to Junctionbox</th>
                                <th>M-Box Type</th>
                                <th>Alert Type</th>
                                <th>Select M-box Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox" checked="checked" /></td>
                                <td><a href="#" id="locationname" data-type="text" data-pk="1" id="squarespaceModal1" data-placement="right" data-placeholder="Required" data-title="Enter your location name" class="editable editable-click">Location 1</a></td>
                                <td>40</td>
                                <td></td>
                                <td></td>
                                <td><input type="checkbox" checked="checked" /></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" checked="checked" /></td>
                                <td><a href="#" id="locationname" data-type="text" data-pk="1" id="squarespaceModal1" data-placement="right" data-placeholder="Required" data-title="Enter your location name" class="editable editable-click">Location 1</a></td>
                                <td>40</td>
                                <td></td>
                                <td></td>
                                <td><input type="checkbox" checked="checked" /></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" checked="checked" /></td>
                                <td><a href="#" id="locationname" data-type="text" data-pk="1" data-placement="right" id="squarespaceModal1" data-placeholder="Required" data-title="Enter your location name" class="editable editable-click">Location 1</a></td>
                                <td>40</td>
                                <td></td>
                                <td></td>
                                <td><input type="checkbox" checked="checked" /></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" checked="checked" /></td>
                                <td><a href="#" id="locationname" data-type="text" data-pk="1" data-placement="right"id="squarespaceModal1" data-placeholder="Required" data-title="Enter your location name" class="editable editable-click">Location 1</a></td>
                                <td>40</td>
                                <td></td>
                                <td></td>
                                <td><input type="checkbox" checked="checked" /></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" checked="checked" /></td>
                                <td><a href="#" id="locationname" data-type="text" data-pk="1" id="squarespaceModal1" data-placement="right" data-placeholder="Required" data-title="Enter your location name" class="editable editable-click">Location 1</a></td>
                                <td>40</td>
                                <td></td>
                                <td></td>
                                <td><input type="checkbox" checked="checked" /></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" checked="checked" /></td>
                                <td><a href="#" id="locationname" data-type="text" id="squarespaceModal1" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter your location name" class="editable editable-click">Location 1</a></td>
                                <td>40</td>
                                <td></td>
                                <td></td>
                                <td><input type="checkbox" checked="checked" /></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="widget">
                <div class="widget-header">
                    <h3>Order M-boxes</h3>
                </div>
                <div class="widget-content">
                    <table class="table table-responsive table-hover">
                        <thead>
                            <tr>
                                <th>Edit Equipment / Allocation</th>
                                <th>Equipment number</th>
                                <th>M-box Number</th>
                                <th>M-Box Type</th>
                                <th>Alert Type</th>
                                <th>Master</th>
                                <th>Junctionbox</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="#" data-toggle="modal" data-target="#squarespaceModal5"> Equip / Allocation</a></td>
                                <td></td>
                                <td>40</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                               
                            </tr>
                            <tr>
                                <td><a href="#" data-toggle="modal" data-target="#squarespaceModal5"> Equip / Allocation</a></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                            <tr>
                                <td><a href="#" data-toggle="modal" data-target="#squarespaceModal5"> Equip / Allocation</a></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                            <tr>
                                <td><a href="#" data-toggle="modal" data-target="#squarespaceModal5"> Equip / Allocation</a></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="widget">
                <div class="widget-header">
                    <h3>Order electricity monitors</h3>
                </div>
                <div class="widget-content">
                    <table class="table table-responsive table-hover">
                        <thead>
                            <tr>
                                <th>Select</th>
                                <th>Edit Equipment / Allocation</th>
                                <th>Master#</th>
                                <th>Equipment number</th>
                                <th>Distance to Electricity meter</th>
                                <th>Voltage</th>
                                <th>Max Kwh</th>
                                <th>Current Transformer</th>
                                <th>Electricity Monitor#</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox" checked="checked" /></td>
                                <td><a href="#" data-toggle="modal" data-target="#squarespaceModal6"> Equip / Allocation</a></td>
                                @*<td><a href="#" id="locationname" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter your location name" class="editable editable-click">Equip / Allocation</a></td>*@
                                <td>40</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" checked="checked" /></td>
                                <td><a href="#" data-toggle="modal" data-target="#squarespaceModal6"> Equip / Allocation</a></td>
                                <td>25</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                            <tr>
                                <td><input type="checkbox" checked="checked" /></td>
                                <td><a href="#" data-toggle="modal" data-target="#squarespaceModal6"> Equip / Allocation</a></td>
                                <td>25</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                            <tr>
                                <td><input type="checkbox" checked="checked" /></td>
                                <td><a href="#" data-toggle="modal" data-target="#squarespaceModal6"> Equip / Allocation</a></td>
                                <td>40</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
</div>
<div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 85%;">           
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <p class="modal-title" id="lineModalLabel">Enter the following</p>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "Menu", FormMethod.Post, new { id = "MenuCreate", Area = "Admin" }))
                {

                    <div class="form-group">                      
                        <br />
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label for="exampleInputlength">Company:</label>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" name="Company" value="Company">
                        </div>
                        <br />                       
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label for="exampleInputlength">Location</label>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" name="Location" value="Location">
                        </div>
                        <br />
                        <br />
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label for="exampleInputdates">Project Name</label>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" name="Project" value="Project Name">
                        </div>
                        <br />
                        <br />
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label for="exampleInputdates">Order Reference</label>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" name="Order" value="Order Reference">                        
                    </div>
                                  
                               </div>     <br>
                }
                <div class="clearfix"></div>
                <br>

                <div class="modal-footer">
                    <div class="" role="group" aria-label="group button">

                        <div class=" btn-delete hidden" role="group">
                            <button type="button" id="delImage" class="btn btn-default btn-hover-red" data-dismiss="modal" role="button">Delete</button>
                        </div>
                        <div class="" role="group">
                            <button type="button" id="saveImage" class="btn btn-info submit-in-modal-btn" style="float: left;margin-left: 261px;" data-action="save" onclick="saveform();" role="button">Submit</button>
                        </div>
                        <div class="" role="group">
                            <button type="button" class="btn btn-default close-in-modal-btn" data-dismiss="modal" role="button">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="squarespaceModal1" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 85%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <p class="modal-title" id="lineModalLabel">Enter the following</p>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Create", "Menu", FormMethod.Post, new { id = "MenuCreate", Area = "Admin" }))
                {

                    <div class="form-group">
                        <br />
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label for="exampleInputlength">Company:</label>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" name="Company" value="Company">
                        </div>
                        <br />
                        <br />
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label for="exampleInputlength">Location</label>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" name="Location" value="Location">
                        </div>
                        <br />
                        <br />
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label for="exampleInputdates">User Name</label>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12 form-group" >
                            <select>
                                <option value="volvo">User1</option>
                                <option value="saab">User2</option>
                                <option value="opel">User3</option>
                                <option value="audi">User4</option>
                            </select>
                        </div>
                        <br />
                        <br />
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label for="exampleInputdates">Confirm on</label>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" name="Order" value="Confirm" />
                        </div>

                    </div>     <br>
                }
                <div class="clearfix"></div>
                <br>

                <div class="modal-footer">
                    <div class="" role="group" aria-label="group button">

                        <div class=" btn-delete hidden" role="group">
                            <button type="button" id="delImage" class="btn btn-default btn-hover-red" data-dismiss="modal" role="button">Delete</button>
                        </div>
                        <div class="" role="group">
                            <button type="button" id="saveImage" class="btn btn-info submit-in-modal-btn" style="float: left;margin-left: 261px;" data-action="save" onclick="saveform();" role="button">Submit</button>
                        </div>
                        <div class="" role="group">
                            <button type="button" class="btn btn-default close-in-modal-btn" data-dismiss="modal" role="button">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="squarespaceModal3" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 85%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <p class="modal-title" id="lineModalLabel">Enter the following</p>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { id = "MenuCreate", Area = "Admin" }))
                {

                    <div class="form-group">
                        <br />
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label for="exampleInputlength">Location Name:</label>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" name="Company" value="Location Name">
                        </div>
                        <br />
                        <br />
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label for="exampleInputlength">PC#</label>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" name="Location" value="2">
                        </div>
                        <br />
                        <br />
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label for="exampleInputdates">Master#</label>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12 form-group">
                            <input type="text" name="Location" value="2">
                        </div>
                        <br />
                        <br />
                        @*<div class="col-md-4 col-sm-4 col-xs-12">
                            <label for="exampleInputdates">Confirm on</label>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" name="Order" value="Confirm" />
                        </div>*@

                    </div>     <br>
                }
                <div class="clearfix"></div>
                <br>

                <div class="modal-footer">
                    <div class="" role="group" aria-label="group button">

                        <div class=" btn-delete hidden" role="group">
                            <button type="button" id="delImage" class="btn btn-default btn-hover-red" data-dismiss="modal" role="button">Delete</button>
                        </div>
                        <div class="" role="group">
                            <button type="button" id="saveImage" class="btn btn-info submit-in-modal-btn" style="float: left;margin-left: 261px;" data-action="save" onclick="saveform();" role="button">Submit</button>
                        </div>
                        <div class="" role="group">
                            <button type="button" class="btn btn-default close-in-modal-btn" data-dismiss="modal" role="button">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="squarespaceModal4" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 85%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <p class="modal-title" id="lineModalLabel">Enter the following</p>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { id = "MenuCreate", Area = "Admin" }))
                {

                    <div class="form-group">
                        <br />
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label for="exampleInputlength">Pulldown Name:</label>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" name="Company" value="Pulldown Name">
                        </div>
                        <br />
                        <br />
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label for="exampleInputlength">Language</label>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" name="Location" value="English">
                        </div>
                        <br />
                        <br />
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label for="exampleInputdates">User Name</label>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12 form-group">
                            <select>
                                <option value="user">User1</option>
                                <option value="user">User2</option>
                                <option value="user">User3</option>
                                <option value="user">User4</option>
                            </select>
                        </div>
                        <br />
                        <br />
                        <div class="col-md-4 col-sm-4 col-xs-12">
                                <label for="exampleInputdates">Confirm on</label>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input type="text" name="Order" value="Confirm" />
                            </div>

                    </div>     <br>
                }
                <div class="clearfix"></div>
                <br>

                <div class="modal-footer">
                    <div class="" role="group" aria-label="group button">

                        <div class=" btn-delete hidden" role="group">
                            <button type="button" id="delImage" class="btn btn-default btn-hover-red" data-dismiss="modal" role="button">Delete</button>
                        </div>
                        <div class="" role="group">
                            <button type="button" id="saveImage" class="btn btn-info submit-in-modal-btn" style="float: left;margin-left: 261px;" data-action="save" onclick="saveform();" role="button">Submit</button>
                        </div>
                        <div class="" role="group">
                            <button type="button" class="btn btn-default close-in-modal-btn" data-dismiss="modal" role="button">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="squarespaceModal5" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 85%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <p class="modal-title" id="lineModalLabel">Enter the following</p>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { id = "MenuCreate", Area = "Admin" }))
                {

                    <div class="form-group">
                        <br />
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label for="exampleInputlength">Equipment type:</label>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <select>
                                <option value="user">User1</option>
                                <option value="user">User2</option>
                                <option value="user">User3</option>
                                <option value="user">User4</option>
                            </select>
                        </div>
                        <br />
                        <br />
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label for="exampleInputlength">Production Type :</label>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <select>
                                <option value="Production">Production1</option>
                                <option value="Production">Production2</option>
                                <option value="Production">Production3</option>
                                <option value="Production">Production4</option>
                            </select>
                        </div>
                        <br />
                        <br />
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label for="exampleInputdates">M-Box Type :</label>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12 form-group">
                            <select>
                                <option value="M-Box Type">M-Box Type1</option>
                                <option value="M-Box Type">M-Box Type2</option>
                                <option value="M-Box Type">M-Box Type3</option>
                                <option value="M-Box Type">M-Box Type4</option>
                            </select>
                        </div>
                        <br />
                        <br />
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label for="exampleInputdates">Alert Type :</label>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <select>
                                <option value="Alert1">Alert1</option>
                                <option value="Alert1">Alert2</option>
                                <option value="Alert1">Alert3</option>
                                <option value="Alert1">Alert4</option>
                            </select>
                        </div>

                    </div>     <br>
                }
                <div class="clearfix"></div>
                <br>

                <div class="modal-footer">
                    <div class="" role="group" aria-label="group button">

                        <div class=" btn-delete hidden" role="group">
                            <button type="button" id="delImage" class="btn btn-default btn-hover-red" data-dismiss="modal" role="button">Delete</button>
                        </div>
                        <div class="" role="group">
                            <button type="button" id="saveImage" class="btn btn-info submit-in-modal-btn" style="float: left;margin-left: 261px;" data-action="save" onclick="saveform();" role="button">Submit</button>
                        </div>
                        <div class="" role="group">
                            <button type="button" class="btn btn-default close-in-modal-btn" data-dismiss="modal" role="button">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="squarespaceModal6" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 85%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <p class="modal-title" id="lineModalLabel">Enter the following</p>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("", "", FormMethod.Post, new { id = "MenuCreate", Area = "Admin" }))
                {

                    <div class="form-group">
                        <br />
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label for="exampleInputlength">Equipment number :</label>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" name="Company" value="1">
                        </div>
                        <br />
                        <br />
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label for="exampleInputlength">Current Transformer</label>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" name="Company" value="Current Transformer">
                        </div>
                        <br />
                        <br />
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label for="exampleInputdates">Voltage :</label>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12 form-group">
                            <input type="text" name="Company" value="220">
                        </div>
                        <br />
                        <br />
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label for="exampleInputdates">Max Kwh  :</label>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" name="Company" value="220">
                        </div>
                        <br />
                        <br />
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label for="exampleInputdates">Electricity Monitor :</label>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12 form-group">
                            <input type="text" name="Company" value="Electricity Monitor">
                        </div>
                        <br />
                        <br />
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label for="exampleInputdates">Master :</label>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="text" name="Company" value="2">
                        </div>

                    </div>     <br>
                }
                <div class="clearfix"></div>
                <br>

                <div class="modal-footer">
                    <div class="" role="group" aria-label="group button">

                        <div class=" btn-delete hidden" role="group">
                            <button type="button" id="delImage" class="btn btn-default btn-hover-red" data-dismiss="modal" role="button">Delete</button>
                        </div>
                        <div class="" role="group">
                            <button type="button" id="saveImage" class="btn btn-info submit-in-modal-btn" style="float: left;margin-left: 261px;" data-action="save" onclick="saveform();" role="button">Submit</button>
                        </div>
                        <div class="" role="group">
                            <button type="button" class="btn btn-default close-in-modal-btn" data-dismiss="modal" role="button">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
