﻿@model MGCERP.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="body-full-height">
<head>
    <title>Login | M-Box - Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="description" content="KingAdmin Dashboard">
    <meta name="author" content="The Develovers">
    <!-- CSS -->
    <link href="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/css/main.css" rel="stylesheet" />
    @*<link href="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/css/skins/transparent.css" rel="stylesheet" type="text/css">*@
    <!--[if lte IE 9]>
        <link href="assets/css/main-ie.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/main-ie-part2.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!-- Fav and touch icons -->

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg">
    <link rel="shortcut icon" href="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg">
</head>
<body>
    <div class="wrapper full-page-wrapper page-auth page-register text-center" style="overflow:hidden;">
        <div class="inner-page">
            <div class="logo">
                <a href="https://www.monitor-box.com"><img src="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg" alt="" /></a>
            </div>
            @*<button type="button" class="btn btn-auth-facebook"><span>Connect using Linkedin</span></button>
                <div class="separator"><span>OR</span></div>*@
            <div class="register-box center-block">
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Change Password Form</h4>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "OldPassword" })
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "NewPassword" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "ConfirmPassword" })
                    <button class="btn btn-custom-primary btn-lg btn-block btn-auth" type="submit" value=""><i class="fa fa-check-circle"></i> Change password</button>
                }
            </div>

        </div>
    </div>
    <div>
        <a href="https://www.monitor-box.com"><footer class="footer">&copy; www.monitor-box.com </footer></a>
    </div>
</body>
</html>
