﻿@model MGCERP.Common.ViewModel.MenuModel
@{
    Layout = null;}
@using (Html.BeginForm("companyModuleCreate", "Menu", FormMethod.Post, new { id = "menumole", Area = "Admin" }))
{

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">

        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3  col-sm-3 col-xs-12">
                Module
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                @Html.DropDownListFor(model => model.companymodulr.Id, new SelectList(Model.compmodule, "Id", "ModuleName"), new { @class = "form-control" })<br />
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-3  col-sm-3 col-xs-12">
                Active
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                @Html.CheckBoxFor(model => model.companymodulr.IsActive)  <br />
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-12  col-sm-12 col-xs-12">
            <input type="submit" value="Add Modules to Menu" class="btn btn-default" style="float:right;" /><br />
        </div>
    </div>

}


