﻿@model MGCERP.Common.ViewModel.MenuRolesModel

@{
    ViewBag.Title = "CreateMenu";
    Layout = null;
}


    <div id="wrapper" class="wrapper">
        <div id="main-content-wrapper" class="content-wrapper">
            <div class="content">
                <div class="main-header">
                </div>
                <div class="main-content">
                    <div class="widget widget-table">
                        <div class="widget-content">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(Model=>Model.AspNetRolesId)
                                @Html.HiddenFor(Model=>Model.CreatedbyUserId)
                                <div class="form-horizontal">
                                    <dl class="dl-horizontal">


                                        <dt>
                                            @Html.DisplayNameFor(model => model.MenusId)
                                        </dt>

                                        <dd>
                                            @ViewBag.Menu
                                        </dd>



                                    </dl>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @*<div class="form-group">
                                        @Html.LabelFor(model => model.AspNetRolesId, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.AspNetRolesId, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.AspNetRolesId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>*@

                                    @*<div class="form-group">
                                        @Html.LabelFor(model => model.MenusId, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.MenusId, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.MenusId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>*@
                                    <div class="form-group">
                                        <div class="control-label col-md-2">
                                            MenuId
                                        </div>
                                        <div class="col-md-4">

                                            @Html.DropDownList("MenuId", ViewBag.menulist as SelectList, new { id = "", Text = "MenuId", value = "MenuId", @class = "form-control" })
                                            @*@Html.DropDownList("name", ViewBag.RoleList as SelectList, "Id", "Name");*@
                                            @*@Html.DropDownListFor("Role",new SelectList(ViewBag.RoleList, "Id", "Name"), "- Please Select Role-", new { @class = "form-control" })*@
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-2">
                                            Role
                                        </div>
                                        <div class="col-md-4">

                                            @Html.DropDownList("Role", ViewBag.Rolelist as SelectList, new { id = "", Text = "role", value = "role", @class = "form-control" })
                                            @*@Html.DropDownList("name", ViewBag.RoleList as SelectList, "Id", "Name");*@
                                            @*@Html.DropDownListFor("Role",new SelectList(ViewBag.RoleList, "Id", "Name"), "- Please Select Role-", new { @class = "form-control" })*@
                                        </div>
                                    </div>

                                    @*<div class="form-group">
                                        @Html.LabelFor(model => model.UpdatedByUserId, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.UpdatedByUserId, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.UpdatedByUserId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.UpdatedOn, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.UpdatedOn, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.UpdatedOn, "", new { @class = "text-danger" })
                                        </div>
                                    </div>*@

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Create" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            }

                            <div>
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    