﻿@model MGCERP.Common.ViewModel.ModuleModel

@{
    ViewBag.Title = "Create";
    Layout = null;
}


  
        <div class="form-horizontal">
@using (Html.BeginForm("CreateModule", "Menu", FormMethod.Post, new { id = "CreateModule", Area = "Admin" }))
{
    @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*<div class="col-md-4 col-sm-4 col-xs-12">
                <label for="exampleInputlength">UserName</label>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.DropDownList("CreatedByUserId", ViewBag.UsersList as SelectList, "-select-", new { id = "userid", Text = "CreatedByUserId", value = "CreatedByUserId", @class = "form-control" })
            </div>
            <br />
            <br />
            <br />*@
            <div class="col-md-4 col-sm-4 col-xs-12">
                <label for="exampleInputlength">Module Name</label>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.TextBoxFor(model => model.ModuleName, new { @class = "form-control", @Id ="Moddddd", Text = "ModuleId", value = "ModuleId" })
                @Html.ValidationMessageFor(model => model.ModuleName, "", new { @class = "text-danger" })
            </div>
            <br />
            <br />
            <br />
            <div class="col-md-4 col-sm-4 col-xs-12">
                <label for="exampleInputlength">IsActive</label>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.CheckBoxFor(model => model.IsActive, new { @Id = "IsActive" })
            </div>
   }
            <br />
            <br />
            <div class="modal-footer">
                <div class="" role="group" aria-label="group button">
                    <div class=" btn-delete hidden" role="group">
                        <button type="button" id="delImage" class="btn btn-default btn-hover-red" data-dismiss="modal" role="button">Delete</button>
                    </div>
                    <div class="" role="group">
                        @*<input type="submit" value="Create" class="btn btn-default" />*@
                        <button type="submit" id="saveImage" style="float: left;margin-left: 261px;" class="btn btn-info submit-in-modal-btn" data-action="save" role="button">submit</button>
                    </div>
                    <div class="" role="group">
                        <button type="button" class="btn btn-default close-in-modal-btn" data-dismiss="modal" role="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
    

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    <script>
        $("#CreateModule").submit(function (event) {          
            var b = $("#Moddddd").val();
            if (b == null || b == "") {
                alert("Please Enter Module Name")
                return false;
            }
        });       
    </script>

