﻿
@model MGCERP.Common.ViewModel.MenuRolesModel

@{
    ViewBag.Title = "CreateMenu";
    Layout = null;
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    @using (Html.BeginForm("CreateRoleMenu", "Menu", FormMethod.Post, new { id = "CreateRoleMenu", name= "form_name", Area ="Admin" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-md-4 col-sm-4 col-xs-12">
                <label for="exampleInputlength">Menu Name</label>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.DropDownList("MenuId", ViewBag.menulist as SelectList, new { id = "MennuId", Text = "MenuId", value = "MenuId", @class = "form-control" })
            </div>
            <br />
            <br />
            <br />

            <div class="col-md-4 col-sm-4 col-xs-12">
                <label for="exampleInputlength">Role Name</label>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.DropDownList("AspNetRoleId", ViewBag.Rolelist as SelectList,new { id = "AspNetRoleId", Text = "role", value = "role", @class = "form-control" })
                @*@Html.DropDownList("ModuleId", ViewBag.modulelist as SelectList, "-select-", new { id = "moduleid", Text = "ModuleId", value = "ModuleId", @class = "form-control" })*@
            </div>
            <br />
            <br />
            <br />

            @*<div class="col-md-4 col-sm-4 col-xs-12">
                    <label for="exampleInputlength">UserName</label>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    @Html.DropDownList("CreatedByUserId", ViewBag.UsersList as SelectList, "-select-", new { id = "userid", Text = "CreatedByUserId", value = "CreatedByUserId", @class = "form-control" })
                </div>
                <br />
                <br />
                <br />*@

            <div class="col-md-4 col-sm-4 col-xs-12">
                <label for="exampleInputlength">IsActive</label>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                @Html.CheckBoxFor(model => model.IsActive, new { @Id = "IsActive" })
            </div>
            <br />
            <br />
            <div class="modal-footer">
                <div class="" role="group" aria-label="group button">
                    <div class=" btn-delete hidden" role="group">
                        <button type="button" id="delImage" class="btn btn-default btn-hover-red" data-dismiss="modal" role="button">Delete</button>
                    </div>
                    <div class="" role="group">
                        <button type="submit" id="saveImage" style="float: left;margin-left: 261px;" class="btn btn-info submit-in-modal-btn" data-action="save" role="button">submit</button>
                    </div>
                    <div class="" role="group">
                        <button type="button" class="btn btn-default close-in-modal-btn" data-dismiss="modal" role="button">Close</button>
                    </div>
                </div>
            </div>
            @*<div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>*@
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    <script>
        //$('form#CreateRoleMenu').submit(function (event) {          
        //    var a = $("#MennuId").val();
        //    var b = $("#AspNetRoleId").val();
           
        // if (a == null || a == "")
        // {
        //   alert("Please Select Menu Name")
        //        return false;
        //    }
        //    else if (b == null || b == "") {
        //        alert("Please Select Role Name")
        //        return false;
        //    }
        //});        
    </script>   
