﻿@model MGCERP.Common.ViewModel.MenuModel
@{ 
    Layout = null;
}
@Html.HiddenFor(model => model.Id)
<div class="container">
    <div class="col-md-12 col-xs-12 col-sm-12">
        <div class="col-md-6 col-xs-12 col-sm-6">
            @using (Html.BeginForm("EditMenu", "Menu", FormMethod.Post, new { id = "MenuEdit", Area = "Admin" }))
            {
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label for="exampleInputname">Menu Number</label>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            @Html.TextBoxFor(model => model.MenuNumber, new { @class = "form-control" })  <br />
                        </div>
                      
                        <div class="clearfix"></div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label for="exampleInputlength">Menu Name</label>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            @Html.TextBoxFor(model => model.MenuName, new { @class = "form-control", @Id = "MenuName", placeholder = "Menu Name" })
                            <br />     @Html.ValidationMessageFor(model => model.MenuName)
                        </div>
                      <div class="clearfix"></div>
                       
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label for="exampleInputdates">Parent Number</label>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            @Html.TextBoxFor(model => model.ParentNumber, new { @class = "form-control" })  <br />
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label for="exampleInputdates">Sort Order</label>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            @Html.TextBoxFor(model => model.SortOrder, new { @class = "form-control" })  <br />
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <label for="exampleInputdates">Active</label>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                        <p>
                            @Html.CheckBoxFor(model => model.IsActive, new { @Id = "IsActive" })
                        </p>
                            </div><div class="clearfix"></div>
                        <div class="col-md-4">
                            @Html.ActionLink("Cancel", "Index", new { @class = "btn btn-primary" })
                            </div>
                      
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <input type="submit" value="Update" class="btn btn-default" />
                        </div>
                        @*</div>*@
                    </div>
                </div>

            }
        </div>
        <div class="col-md-3 col-xs-12 col-sm-3">
            
                @*<div class="col-md-3 col-sm-3 col-xs-12">
                    @Html.ActionLink("Add new Role", "AddRole", new { menuID = Model.Id }, new { @class = "btn btn-info" })
                   <br /><br />
                </div>*@   
            <div class="clearfix"></div>
            
                @{Html.RenderAction("aspnetRoleCreate", "Menu");} <br />           
            <div class="table">
                <table id="featured-datatable" class="table table-sorting table-striped table-hover datatable">
                    <thead>
                        <tr>
                            <th>
                                Action
                            </th>
                            <th>
                                Name
                            </th>

                        </tr>
                    </thead>
                    @if (Model.Rolelist !=null)
                    {
                        <tbody id="menutable">
                            @foreach (var item in Model.Rolelist)
                            {
                                <tr>
                                    <td>
                                        @*@Html.ActionLink("Delete", "aspnetRoleDelete", new { id = item.Id })*@
                                        @Html.ActionLink("Delete", "aspnetRoleDelete", new { menuId = Model.Id, Roleid = item.Id})
                                    </td>
                                    <td>
                                        @item.Name
                                    </td>
                                </tr>
                            }
                        </tbody>
                        }
                </table>
            </div>

            </div>
        <div class="col-md-3 col-xs-12 col-sm-3">
           
                @*<div class="col-md-3 col-sm-3 col-xs-12">
                    @Html.ActionLink("Add New Module", "AddModule", new { menuID = Model.Id }, new { @class = "btn btn-info" })
                  </div>*@ <div class="clearfix"></div>

    @{Html.RenderAction("companyModuleCreate", "Menu");}<br />
<div class="table">
                        <table id="featured-datatable" class="table table-sorting table-striped table-hover datatable">
                            <thead>
                                <tr>
                                    <th>
                                        Action
                                    </th>
                                    <th>
                                        Company Module
                                    </th>

                                </tr>
                            </thead>
@if (Model.companymenumodulelist.Count > 0)
{
                            <tbody id="menutable">
                                @foreach (var item in Model.companymenumodulelist)
                                {
                                    <tr>
                                        <td>                                            
                                            @*@Html.ActionLink("Delete", "MenusCompanyModulesDelete", new { id = item.Id })*@
                                            @Html.ActionLink("Delete", "MenusCompanyModulesDelete", new { menuId = Model.Id, ModuleId = item.Id })
                                        </td>
                                        <td>
                                            @item.ModuleName
                                        </td>
                                    </tr>
                                }
                            </tbody>
}
                        </table>

                </div>

        </div>
        </div>
    </div>


    <div class="clearfix"></div>
    <br>
