﻿@model MGCERP.Common.ViewModel.MenuModel

@{
    //ViewBag.Title = "Index";   
    //Layout = null;
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    #IsActive
    {
        margin-left:16px;
    }
    @@media(max-width:767px) {
        .table-responsive {
        overflow-y: scroll!important;
        max-height: 400px!important;
    }
    }

    
    .table-responsive {
        overflow-y: scroll;
        max-height: 400px;
    }
    .top-bar .logo {
        position: relative;
         top: 0px !important; 
    }

</style>

    <!-- WRAPPER -->
   
            <div class="content">
                <div class="main-header">
                </div>
                <div class="Activeclass" style="height:40px;">
                    <p>
                        <input class="active" name="active" type="checkbox" value="1" onclick="showActiveData(true)" /> <span style="padding:6px"> Active </span>
                        <input class="active" name="active" type="checkbox" value="1" onclick="showActiveData(false)" /><span style="padding:6px"> Show All </span>
                    </p>
                </div>
                <div class="left" style="height:50px">
                <button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-info">Add Menu</button>
               </div>              
                                                <!-- line modal -->
                <div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" style="width: 85%;">
                            @*@using (Html.BeginForm("Create", "Menu", FormMethod.Post, new { id = "MenuCreate", Area = "Admin" }))
                    {*@

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                <p class="modal-title" id="lineModalLabel">Enter the following</p>
                            </div>
                            <div class="modal-body">
                                @using (Html.BeginForm("Create", "Menu", FormMethod.Post, new { id = "MenuCreate", Area = "Admin" }))
                                {

                                    <div class="form-group">
                                        @*<div class="col-md-4 col-sm-4 col-xs-12">
                                            <label for="exampleInputname">Menu Number</label>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            @Html.TextBoxFor(model => model.MenuNumber, new { @class = "form-control" })
                                        </div>
                                        <br />
                                        <br />*@
                                        <br/>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <label for="exampleInputlength">Menu Name</label>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            @Html.TextBoxFor(model => model.MenuName, new { @class = "form-control", @Id = "MenuName", placeholder = "Menu Name" })
                                            @Html.ValidationMessageFor(model => model.MenuName)
                                        </div>
                                        <br />
                                        <br />
                                        <br />
                                        @*<div class="col-md-4 col-sm-4 col-xs-12">
                                            <label for="exampleInputdates">Parent Number</label>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            @Html.TextBoxFor(model => model.ParentNumber, new { @class = "form-control" })<br />
                                        </div>
                                        <br />
                                        <br />
                                        <br />*@
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <label for="exampleInputlength">Menu Name</label>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            @Html.DropDownListFor(model => model.ParentNumber, new SelectList(Model.menulist, "MenuNumber", "MenuName"), "-Select-", new { @class = "form-control" }) 
                                            @*@Html.DropDownList("MenuNumber", ViewBag.menulist as SelectList, new { id = "MenuNumber", Text = "MenuNumber", value = "MenuNumber", @class = "form-control" })*@
                                        </div>
                                        <br />
                                        <br />
                                        <br />
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <label for="exampleInputdates">Sort Order</label>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            @Html.TextBoxFor(model => model.SortOrder, new { @class = "form-control" })<br />
                                        </div>
                                        <br />
                                        <br />
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <label for="exampleInputdates">Active</label>
                                        </div>
                                        @*<div class="col-md-8 col-sm-8 col-xs-12">*@
                                        <p>
                                            @Html.CheckBoxFor(model => model.IsActive, new { @Id = "IsActive"} )
                                        </p>

                                        @*</div>*@
                                    </div>
                                    <div class="" role="group">
                                    </div>
                                    <br>
                                }
                                <div class="clearfix"></div>
                                <br>

                                <div class="modal-footer">
                                    <div class="" role="group" aria-label="group button">

                                        <div class=" btn-delete hidden" role="group">
                                            <button type="button" id="delImage" class="btn btn-default btn-hover-red" data-dismiss="modal" role="button">Delete</button>
                                        </div>
                                        <div class="" role="group">
                                            <button type="button" id="saveImage" class="btn btn-info submit-in-modal-btn" style="float: left;margin-left: 261px;"data-action="save" onclick="saveform();" role="button">Submit</button>
                                        </div>
                                        <div class="" role="group">
                                            <button type="button" class="btn btn-default close-in-modal-btn" data-dismiss="modal" role="button">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="table table-responsive">
                    <table id="featured-datatable" class="table table-sorting table-striped table-hover datatable">
                        <thead>
                            <tr>
                                <th>
                                    Serial No.
                                </th>
                                <th>
                                    Menu Number
                                </th>
                                <th>
                                    Menu Name
                                </th>
                                <th>
                                    Parent Number
                                </th>
                                <th>
                                    Sort Number
                                </th>
                                <th>
                                    Active
                                </th> 
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody id="menutable">
                            @{int rowNo = 0;}
                            @foreach (var item in Model.menulist)
                            {
                                <tr>
                                    <td>
                                        @(rowNo += 1)
                                    </td>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.MenuNumber)*@
                                        <a href="javascript:void()" onclick="EditPartial('@item.Id')">@item.MenuNumber</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MenuName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ParentNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SortOrder)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsActive)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Delete", "DeleteMenu", new { id = item.Id }, new { onclick = "return confirm('Are you sure to continue?')" })
                                    </td>
                                    
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal fade" id="squarespaceModal1" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">

                    <div class="modal-dialog" style="width:100%;">
                        <div class="modal-content" @*style="width: 200%;"*@>
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                <p class="modal-title" id="lineModalLabel">Create Menu</p>
                            </div>
                            <div class="modal-body" id="UpdateUnit">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="left"><button data-toggle="modal" data-target="#squarespaceModal5" class="btn btn-info">Add Roles to Menu</button></div>
                @using (Html.BeginForm("CreateRoleMenu", "Menu", FormMethod.Post, new { id = "CreateRoleMenu" }))
                {
                    <div class="modal fade" id="squarespaceModal5" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content" style="width: 85%;">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                    <p class="modal-title" id="lineModalLabel">Enter the following</p>
                                </div>
                                <div class="modal-body">
                                    @{Html.RenderAction("CreateRoleMenu", "Menu");
                                        }
                                </div> <div class="clearfix"></div><br>
                            </div>
                        </div>
                    </div>
                                        }

                @{Html.RenderAction("MenuRoleIndex", "Menu");}

                <div class="left"><button data-toggle="modal" data-target="#squarespaceModal3" class="btn btn-info">Add Module to Menu</button></div>
                @using (Html.BeginForm("CreateMenuModule", "Menu", FormMethod.Post, new { id = "CreateMenuModule" }))
                {
                    <div class="modal fade" id="squarespaceModal3" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content" style="width: 85%;">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                    <p class="modal-title" id="lineModalLabel">Enter the following</p>
                                </div>
                                <div class="modal-body">
                                    @{Html.RenderAction("CreateMenuModule", "Menu");}
                                </div> <div class="clearfix"></div>   <br>
                            </div>
                        </div>
                    </div>
                                        }

                @{Html.RenderAction("ModuleCompanyIndex", "Menu");}
                @*<input class="active" name="active" type="checkbox" value="1" onclick="showActiveRoleData(true)" />Show active only
                <input class="active" name="active" type="checkbox" value="1" onclick="showActiveRoleData(false)" />Show all*@
                <div class="Activeclass" style="height:40px;">
                    <p>
                        <input class="active" name="active" type="checkbox" value="1" onclick="showActiveRoleData(true)" />Active 
                        <input class="active" name="active" type="checkbox" value="1" onclick="showActiveRoleData(false)" />Show all
                    </p>
                </div>
                <div class="left" style="height:50px">
                    <button data-toggle="modal" data-target="#squarespaceModal2" class="btn btn-info">Add Role</button>
                </div>   
                @*<div class="left">
                    <button data-toggle="modal" data-target="#squarespaceModal2" class="btn btn-info">Add New Role</button>
                </div>*@
                @using (Html.BeginForm("RoleCreate", "Menu", FormMethod.Post, new { id = "Rolecreate" }))
                {
                    <div class="modal fade" id="squarespaceModal2" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content" style="width: 85%;">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                    <p class="modal-title" id="lineModalLabel">Enter the following</p>
                                </div>
                                <div class="modal-body">
                                    @{Html.RenderAction("RoleCreate", "Menu");}
                                </div> <div class="clearfix"></div>   <br>
                            </div>
                        </div>
                    </div>
                 }
                <div class="modal fade" id="squarespaceModal7" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">

                    <div class="modal-dialog">
                        <div class="modal-content" style="width: 100%;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                <p class="modal-title" id="lineModalLabel">Edit Role</p>
                            </div>
                            <div class="modal-body" id="UpdateRole">

                            </div>
                        </div>
                    </div>
                </div>
                
                        @{Html.RenderAction("RoleIndex", "Menu");}
                <div class="Activeclass" style="height:40px;">
                    <p>
                        <input class="active" name="active" type="checkbox" value="1" onclick="showActiveModuleData(true)" />Active
                        <input class="active" name="active" type="checkbox" value="1" onclick="showActiveModuleData(false)" />Show all
                    </p>
                </div>
                @*<input class="active" name="active" type="checkbox" value="1" onclick="showActiveModuleData(true)" />Show active only
                <input class="active" name="active" type="checkbox" value="1" onclick="showActiveModuleData(false)" />Show all*@
                <div class="left" style="height:50px">
                    <button data-toggle="modal" data-target="#squarespaceModal4" class="btn btn-info">Add Module</button>
                </div>  
                @*<div class="left">
                <button data-toggle="modal" data-target="#squarespaceModal4" class="btn btn-info">Add New Module</button>
                </div>*@
                @using (Html.BeginForm("CreateModule", "Menu", FormMethod.Post, new { id = "CreateModule" }))
                {
                    <div class="modal fade" id="squarespaceModal4" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content" style="width: 85%;">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                    <p class="modal-title" id="lineModalLabel">Enter the following</p>                                  
                                </div>
                                <div class="modal-body">
                                    @{Html.RenderAction("CreateModule", "Menu");}
                                </div> <div class="clearfix"></div>   <br>
                            </div>
                        </div>
                    </div>          
                                        }
                <div class="modal fade" id="squarespaceModal6" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">

                    <div class="modal-dialog">
                        <div class="modal-content" style="width: 100%;">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                <p class="modal-title" id="lineModalLabel">Edit Module</p>
                            </div>
                            <div class="modal-body" id="UpdateModule">

                            </div>
                        </div>
                    </div>
                </div>

                    @{Html.RenderAction("ModuleIndex", "Menu");}
                

              

            </div>
<div id="atag" style="display:none;">
    <a href="/Admin/Menu/DeleteModule/**url**" onclick="return confirm('Are you sure to continue?')">Delete</a>
</div>
<div id="role" style="display:none;">
    <a href="/Admin/Menu/DeleteAspRole/**url**" onclick="return confirm('Are you sure to continue?')">Delete</a>
</div>
<div id="menu" style="display:none;">
    <a href="/Admin/Menu/DeleteMenu/**url**" onclick="return confirm('Are you sure to continue?')">Delete</a>
</div>
                              
        <script>
            function saveform() {
                var a = $("#MenuNumber").val();
                var b = $("#MenuName").val();
                //var c = $("#Tname").val();
                var d = $("#txtstartdate").val();
                var e = $("#txtenddate").val();
                //alert(d);
                //alert(e);


                //if (a == null || a == "") {
                //    alert("Please enter Menu Number")
                //    return false;
                //}
            if (b == null || b == "") {
                    alert("Please enter Menu Name")
                    return false;
                }
                //else if (d == null || d == "") {
                //    alert("Please Fill Start Date")
                //    return false;
                //}
                //else if (e == null || e == "") {
                //    alert("Please Fill End Date")
                //    return false;
                //}
                else {
                    document.forms["MenuCreate"].submit();
                }
            }
            $('.active').on('change', function () {
                $('.active').not(this).prop('checked', false);
            });
            $('#showall').on('change', function () {
                $.ajax({
                    url: "/Menu/ShowAll",
                    success: function (student) {
                        $("#div1").html(stdnt);
                    }
                });
            });
            function EditPartial(id) {
                debugger;
                $("#UpdateUnit").load("/Admin/Menu/EditMenu/" + id);
                $('#squarespaceModal1').modal();
            }

            function showActiveData(active) {
                $.get("@Url.Action("ShowActiveMenus", "Menu")", { check: active }, function (data) {
                    $("#menutable").empty();
                    $.each(data, function (index, value) {
                        var serial = index + 1;
                        var id = "<a href='#' onclick=EditPartial('" + value.Id + "')>" + value.MenuNumber + "</a>";
                        var Del = $("#menu").html();
                        Del = Del.replace("**url**", value.Id);
                        if (value.IsActive == true)
                        {
                            var tavledata = "<tr><td>" + serial + "</td><td>" + id + "</td><td>" + value.MenuName + "</td><td>" + value.ParentNumber + "</td><td>" + value.SortOrder + "</td><td><input type='checkbox' name='" + value.IsActive + "' checked/></td><td>" + Del + " </td></tr>";
                            $("#menutable").append(tavledata);
                        }
                        else
                        {
                            var tavledata = "<tr><td>" + serial + "</td><td>" + id + "</td><td>" + value.MenuName + "</td><td>" + value.ParentNumber + "</td><td>" + value.SortOrder + "</td><td><input type='checkbox' name='" + value.IsActive + "' checked/></td><td>" + Del + " </td></tr>";
                            $("#menutable").append(tavledata);
                        }

                    });
                });
        }
            function showActiveModuleData(active)
        {
                $.get("@Url.Action("ShowActiveCompanyModule", "Menu")", { check: active }, function (data) {
                    $("#moduletable").empty();
                    $.each(data, function (index, value) {
                        var serial = index + 1;
                        var id = "<a href='#' onclick=EditPartial('" + value.Id + "')>" + value.ModuleName + "</a>";
                        var Del = $("#atag").html();
                        Del = Del.replace("**url**", value.Id);
                      //  alert(Del);

                        if (value.IsActive == true)
                        {
                            var tavledata = "<tr><td>" + serial + "</td><td>" + value.ModuleName + "</td><td><input type='checkbox' name='" + value.IsActive + "' checked/></td><td>" + Del+" </td></tr>";
                            $("#moduletable").append(tavledata);
                        }
                        else
                        {
                            var tavledata = "<tr><td>" + serial + "</td><td>" + value.ModuleName + "</td><td><input type='checkbox' name='" + value.IsActive + "'checked/></td><td>" + Del + " </td></tr>";
                            $("#moduletable").append(tavledata);
                        }

                    });
                });
            }
              function showActiveRoleData(active)
        {
                $.get("@Url.Action("ShowActiveRole", "Menu")", { check: active }, function (data) {
                    $("#roletable").empty();
                    $.each(data, function (index, value) {
                        var serial = index + 1;
                        var id = "<a href='#' onclick=EditPartial('" + value.Id + "')>" + value.Name + "</a>";
                        var Del = $("#role").html();
                        Del = Del.replace("**url**", value.Id);
                        if (value.IsActive == true)
                        {
                            var tavledata = "<tr><td>" + serial + "</td><td>" + value.Name + "</td><td><input type='checkbox' name='" + value.IsActive + "' checked/></td><td>" + Del + " </td></tr>";
                            $("#roletable").append(tavledata);
                        }
                        else
                        {
                            var tavledata = "<tr><td>" + serial + "</td><td>" + value.Name + "</td><td><input type='checkbox' name='" + value.IsActive + "'checked /></td><td>" + Del+" </td></tr>";
                            $("#roletable").append(tavledata);
                        }

                    });
                });
            }
        </script>                             



















































































































































































