﻿
@model IEnumerable<MGCERP.Common.ViewModel.MenuRolesModel>

@{
    ViewBag.Title = "RoleIndex";
    Layout = null;
}


    <div class="table table-responsive">
        <table id="featured-datatable2" class="table table-sorting table-striped table-hover datatable">
            <thead>
                <tr>
                    <th>
                        Serial No.
                    </th>
                    <th>
                        Menu Name
                    </th>
                    <th>
                        Role Name
                    </th>
                    @*<th>
                            Role Name
                        </th>*@
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @{int rowNo = 0;}
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @(rowNo += 1)
                        </td>
                        <td>
                            @*<a href="/Admin/Menu/?id=@item.MenuId">@Html.DisplayFor(modelItem => item.MenuName)</a>*@
                            <a href="javascript:void()" onclick="EditPartial('@item.MenuId')">@item.MenuName</a>
                            @*@Html.DisplayFor(modelItem => item.MenuName)*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoleName)
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "aspnetRoleDelete", new { menuId = item.MenuId,Roleid=item.AspNetRoleId }, new { onclick = "return confirm('Are you sure to continue?')" })
                        </td>
                        @*<td>
                                @Html.ActionLink("Create", "Create")
                            </td>*@

                        @*<td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>*@
                    </tr>
                }


            </tbody>
        </table>
        </div>