﻿@model MGCERP.Common.ViewModel.MenuModuleModel

@{
    ViewBag.Title = "ModuleMenu";
    Layout = null;
}

    <div id="wrapper" class="wrapper">
        <div id="main-content-wrapper" class="content-wrapper">
            <div class="content">
                <div class="main-header">
                </div>
                <div class="main-content">
                    <div class="widget widget-table">
                        <div class="widget-content">


                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <dl class="dl-horizontal">


                                        <dt>
                                            @Html.DisplayNameFor(model => model.MenuId)
                                        </dt>

                                        <dd>
                                            @ViewBag.Menu
                                        </dd>



                                    </dl>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.CreatedByUserId)

                                    @*@Html.HiddenFor(model => model.CreatedOn)*@
                                    @Html.HiddenFor(model => model.CompanyModuleId)
                                    @*<div class="form-group">
                                        @Html.LabelFor(model => model.ModuleId, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.ModuleId, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ModuleId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>*@

                                    <div class="form-group">
                                        <div class="control-label col-md-2">
                                            MenuId
                                        </div>
                                        <div class="col-md-4">

                                            @Html.DropDownList("MenuId", ViewBag.menulist as SelectList, "-select-", new { id = "", Text = "MenuId", value = "MenuId", @class = "form-control" })
                                        </div>
                                    </div>

                                   
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Create" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            }

                            <div>
                                @Html.ActionLink("Back to List", "Index")
                            </div>

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>