﻿@model MGCERP.Common.ViewModel.AspRoleModel

@{
    ViewBag.Title = "Create";
    Layout = null;
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

                            @*@using (Html.BeginForm("RoleCreate", "Menu",FormMethod.Post, new { @Id = "ModuleForm11",@name="Newmod", Area = "Admin" }))*@
@*@using (Html.BeginForm("Rolecreate", "Menu", FormMethod.Post, new { @Id = "Rolecreate", Area = "Admin" }))*@
@using (Html.BeginForm("Rolecreate", "Menu", FormMethod.Post, new { id = "Rolecreate", Area = "Admin",@name="rlecrt" }))
{
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label for="exampleInputlength">Name</label>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        @Html.TextBoxFor(model => model.Name, new {@class = "form-control", id = "Name", Text = "Name", value = "MName" })
                                      
                                    </div>                                    
                                    <br />
                                    <br />
                                    <br />
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label for="exampleInputlength">Active</label>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        @Html.CheckBoxFor(model => model.IsActive, new { @Id = "IsActive" })
                                    </div>
                                    <br />
                                    <br />
                                    
                                
                                </div>
                            }
<div class="modal-footer">
    <div class="" role="group" aria-label="group button">
        <div class=" btn-delete hidden" role="group">
            <button type="button" id="delImage" class="btn btn-default btn-hover-red" data-dismiss="modal" role="button">Delete</button>
        </div>
        <div class="" role="group">
            <button type="submit" id="saveImage" style="float: left;margin-left: 261px;" class="btn btn-info submit-in-modal-btn" data-action="save" role="button">submit</button>
        </div>
        <div class="" role="group">
            <button type="button" class="btn btn-default close-in-modal-btn" data-dismiss="modal" role="button">Close</button>
        </div>
    </div>
</div>
                            <div>
                                @Html.ActionLink("Back to List", "Index")
                            </div>
  
    <script>
        $('form#Rolecreate').submit(function (event) {              
            var b = $("#Name").val();
             if (b == null || b == "") {
                 alert("Please Enter Role Name")
                 return false;
             }
         });
        </script>       