﻿@model MGCERP.Common.ViewModel.MenuModuleModel

@{
    ViewBag.Title = "EditMenu";
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9" lang="en" class="no-js"> <![endif]-->
<!--[if !(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <title>Dynamic Table | KingAdmin - Admin Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="KingAdmin - Bootstrap Admin Dashboard Theme">
    <meta name="author" content="The Develovers">
    <!-- CSS -->
    <link href="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/css/main.css" rel="stylesheet" />
    <link href="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/css/my-custom-styles.css" rel="stylesheet" />
    <!--[if lte IE 9]>
        <link href="assets/css/main-ie.css" rel="stylesheet" type="text/css"/>
        <link href="assets/css/main-ie-part2.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg">
    <link rel="shortcut icon" href="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg">
</head>
<body class="sidebar-fixed topnav-fixed ">
    <!-- WRAPPER -->
    <div id="wrapper" class="wrapper">
        <!-- TOP BAR -->
        <!-- END TOP BAR -->
        <!-- LEFT SIDEBAR -->
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN CONTENT WRAPPER -->
        <div id="main-content-wrapper" class="content-wrapper ">
            <!-- top general alert -->
            <!-- end top general alert -->
            <!-- main -->
            <div class="content">
                <div class="main-header">
                </div>
                <div class="main-content">
                    <div class="widget widget-table">
                        <div class="widget-content">
                            @using (Html.BeginForm())
                            {
@Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    <h4>MenuModel</h4>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.ModuleId, htmlAttributes: new { @class = "control-label col-md-2" })

                                    <div class="form-group">
                                        @Html.EditorFor(model => model.ModuleId, new { htmlAttributes = new { @class = "form-control" } })
                                        <div class="col-md-10">
                                            @Html.ValidationMessageFor(model => model.ModuleId, "", new { @class = "text-danger" })
                                            @Html.LabelFor(model => model.MenuId, htmlAttributes: new { @class = "control-label col-md-2" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.EditorFor(model => model.MenuId, new { htmlAttributes = new { @class = "form-control" } })
                                        <div class="col-md-10">
                                            @Html.ValidationMessageFor(model => model.MenuId, "", new { @class = "text-danger" })
                                            @Html.LabelFor(model => model.CreatedByUserId, htmlAttributes: new { @class = "control-label col-md-2" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.EditorFor(model => model.CreatedByUserId, new { htmlAttributes = new { @class = "form-control" } })
                                        <div class="col-md-10">
                                            @Html.ValidationMessageFor(model => model.CreatedByUserId, "", new { @class = "text-danger" })
                                            @Html.LabelFor(model => model.CreatedOn, htmlAttributes: new { @class = "control-label col-md-2" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.EditorFor(model => model.CreatedOn, new { htmlAttributes = new { @class = "form-control" } })
                                        <div class="col-md-10">
                                            @Html.ValidationMessageFor(model => model.CreatedOn, "", new { @class = "text-danger" })
                                            @Html.LabelFor(model => model.UpdatedByUserId, htmlAttributes: new { @class = "control-label col-md-2" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.EditorFor(model => model.UpdatedByUserId, new { htmlAttributes = new { @class = "form-control" } })
                                        <div class="col-md-10">
                                            @Html.ValidationMessageFor(model => model.UpdatedByUserId, "", new { @class = "text-danger" })
                                            @Html.LabelFor(model => model.UpdatedOn, htmlAttributes: new { @class = "control-label col-md-2" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.EditorFor(model => model.UpdatedOn, new { htmlAttributes = new { @class = "form-control" } })
                                        <div class="col-md-10">
                                            @Html.ValidationMessageFor(model => model.UpdatedOn, "", new { @class = "text-danger" })
                                            @Html.ValidationMessageFor(model => model.UpdatedOn, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.UpdatedByUserId, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.UpdatedByUserId, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.UpdatedByUserId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.UpdatedOn, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.UpdatedOn, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.UpdatedOn, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Save" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            }

                            <div>
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <!-- END CONTENT WRAPPER -->
    <!-- END WRAPPER -->
    <!-- Javascript -->
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/jquery/jquery-2.1.0.min.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/bootstrap/bootstrap.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/modernizr/modernizr.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/bootstrap-tour/bootstrap-tour.custom.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/king-common.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/datatable/jquery.dataTables.min.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/datatable/exts/dataTables.colVis.bootstrap.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/datatable/exts/dataTables.colReorder.min.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/datatable/exts/dataTables.tableTools.min.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/datatable/dataTables.bootstrap.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/jqgrid/i18n/grid.locale-en.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/jqgrid/jquery.jqGrid.fluid.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/king-table.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/king-components.js"></script>
</body>
</html>


