﻿@model IEnumerable<MGCERP.Common.ViewModel.AspRoleModel>

@{
    ViewBag.Title = "RoleIndex";
     Layout = null;
}

<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9" lang="en" class="no-js"> <![endif]-->
<!--[if !(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <title>Dynamic Table | KingAdmin - Admin Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="KingAdmin - Bootstrap Admin Dashboard Theme">
    <meta name="author" content="The Develovers">
    <!-- CSS -->
    <link href="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/css/main.css" rel="stylesheet" />
    <link href="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/css/my-custom-styles.css" rel="stylesheet" />
    <!--[if lte IE 9]>
        <link href="assets/css/main-ie.css" rel="stylesheet" type="text/css"/>
        <link href="assets/css/main-ie-part2.css" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg">
    <link rel="shortcut icon" href="~/Content/kingadmin-dashboard-theme-v1.6.2/bonus/kingadmin-landing-page/assets/img/logo-MGCERP.jpg">
</head>
<body class="sidebar-fixed topnav-fixed ">
    <!-- WRAPPER -->
    <div id="wrapper" class="wrapper">
        <!-- TOP BAR -->
        <!-- END TOP BAR -->
        <!-- LEFT SIDEBAR -->
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN CONTENT WRAPPER -->
        <div id="main-content-wrapper" class="content-wrapper ">
            <!-- top general alert -->
            <!-- end top general alert -->
            <!-- main -->
            <div class="content">
                <div class="main-header">
                </div>
                <div class="main-content">
                    <div class="widget widget-table">
                        <div class="widget-content">
                            @*@Html.ActionLink("Create", "Create")*@
                            <table id="featured-datatable" class="table table-sorting table-striped table-hover datatable">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Id)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Create", "Create")
                                            </td>
                                          
                                            @*<td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                            </td>*@
                                        </tr>
                                    }

                          
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <!-- END CONTENT WRAPPER -->
    <!-- END WRAPPER -->
    <!-- Javascript -->
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/jquery/jquery-2.1.0.min.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/bootstrap/bootstrap.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/modernizr/modernizr.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/bootstrap-tour/bootstrap-tour.custom.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/king-common.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/datatable/jquery.dataTables.min.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/datatable/exts/dataTables.colVis.bootstrap.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/datatable/exts/dataTables.colReorder.min.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/datatable/exts/dataTables.tableTools.min.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/datatable/dataTables.bootstrap.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/jqgrid/i18n/grid.locale-en.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/jqgrid/jquery.jqGrid.fluid.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/king-table.js"></script>
    <script src="~/Content/kingadmin-dashboard-theme-v1.6.2/theme/assets/js/king-components.js"></script>
</body>
</html>
